PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/spms_db
JWT_SECRET=supersecretjwtkeyforparkingmanagement
ANPR_API_KEY=anpr_secret_api_key_123456

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="SPMS Alerts <noreply@society.com>"
